body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: linear-gradient(114deg, #e9f58f, #5d05a8, #50bbed, #5ad382, #9bd5c4);
    background-size: 300% 300%;
    animation: gradient-animation 50s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    margin-left: 10px;
    font-family: 'Exo', sans-serif;
}

.description {
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.description h1 {
    font-size: 32px;
    color: #fff;
}

.description p {
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
    max-width: 600px;
    margin: 10px auto 0;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    flex-wrap: wrap;
    animation: slideUp 2s ease-in-out;
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container {
    background-color: #ffffff;
    padding: 90px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
}

h2 {
    color: #343a40;
}

.drag-and-drop {
    border: 2px dashed #007bff;
    border-radius: 10px;
    padding: 50px;
    background-color: #f1f1f1;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
    text-align: center;
}

.drag-and-drop:hover {
    background-color: #e9ecef;
    border-color: #0056b3;
}

.drag-and-drop p {
    margin: 0;
    font-size: 18px;
}

#file-upload {
    display: none;
}

#preview img {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

#image-size {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.size-info {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #218838;
}

.fixed-box {
    background-color: #ffffff;
    padding: 65px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.output img {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

.output a {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

.output a:hover {
    color: white;
}

.download-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #218838;
}

.compressed-title {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
}

.image-type {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.format-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.format-buttons label {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.format-buttons input[type="radio"] {
    display: none;
}

.format-buttons input[type="radio"]:checked+label {
    background-color: #0056b3;
}

.image-type-display {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}


/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .container,
    .fixed-box {
        margin-right: 0;
        width: 100%;
        padding: 20px;
    }
    .container {
        margin-bottom: 20px;
    }
    .fixed-box {
        height: auto;
    }
}

@media (max-width: 480px) {
    .description h1 {
        font-size: 24px;
    }
    .description p {
        font-size: 16px;
    }
    .container,
    .fixed-box {
        padding: 15px;
    }
    .file-upload label,
    .submit-button,
    .format-buttons label {
        padding: 8px 15px;
    }
    .download-button {
        padding: 8px 15px;
    }
}